.navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px;
  gap: 4em;
}

.links {
  display: flex;
  gap: 4em;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.links a {
  font-weight: 800;
  color: grey;
  text-decoration: none;
}

.links a.active {
  color: white;
}
