.carousel {
  display: grid;
  grid-template-rows: auto;
  gap: 1.6em;
  overflow-x: scroll;
  justify-content: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .carousel {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .carousel {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .carousel {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .carousel {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .carousel {
    grid-template-columns: repeat(6, minmax(0, 200px));
  }
}
